@font-face {
    font-family: Logos;
    src: url('portfolio.ttf');
} 

html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #444444;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    font-size: x-large;
}

hr {
    border-color: #444444;
}

p {
    margin: 0;
}

ul {
    text-align: left;
}

li {
    margin-bottom: 5%;
}

.bar {
    font-family: Logos;
    text-align: justify;
    font-size: xx-large;
    margin: 0 30%;
}

.bar:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    max-width: 50%;
    text-align: center;
}

.bold {
    font-weight: bold;
}
